.container {
  max-width: 1200px;
  margin: 0 auto;
} /* appointment.css

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-12 {
  flex-basis: 100%;
}

.day-columns {
  display: flex;
  justify-content: space-between;
}

.day-column {
  flex-basis: calc(14.28% - 10px);
  box-sizing: border-box;
  margin-right: 10px;
}

.day-header {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.day-content {
  border: 1px solid #e5e5e5;
  padding: 10px;
}

.event {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.event:hover {
  background-color: #f5f5f5;
}

.title {
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.day-footer {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
  font-weight: bold;
} */

/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 70px;
  box-shadow: 0 2px 5px rgba(22, 22, 26, 0.18);
  /* border: #359339 1px solid; */
}

.logo {
  font-size: 35px;
  font-weight: bold;
  color: #359339;
  margin-left: 50px;
}
/* 
.logout {
  cursor: pointer;
  font-size: 25px;
  background-color: rgb(200, 2, 2);
  color: white;

  border-radius: 30%;
  padding: 10px; 
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.logout:hover {
  opacity: 0.8;
}
/* table css */
table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 10px;
  margin-top: 5%;
  /* height: 300px; */
}

table,
th,
td {
  border: 2px solid rgb(200, 200, 200);
}

th,
td {
  padding: 21px;
  text-align: center;
  border-radius: 10px;
  width: 5%;
  height: 3%;
}

.icon {
  font-size: 25px;
  color: #359339;
}

/* .card {
  background-color: #bfe8f0;
  border: 1px solid #9ed5e0;
  padding: 16px;
  margin-top: 20px; Adjust the margin as needed
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
} */
/* .card {
  background-color: #bfe8f0;
  border: 1px solid #9ed5e0;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: absolute;
  top: 43%;
  left: 268px;
  transform: translate(-50%, -50%);
  width: 10%;
  z-index: 1;

  height: 20%;
} */
.cards {
  background-color: #bfe8f0;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 8px;
  /* width: 25%; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* .card2 {
  background-color: #bfe8f0;
  border: 1px solid #9ed5e0;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: absolute;
  top: 499px;
  left: 663px;
  transform: translate(-50%, -50%);
  width: 12%;
  z-index: 1;

  height: 19%;
} */

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-12 {
  flex-basis: 100%;
}

.day-columns {
  display: flex;
  justify-content: space-between;
}

.day-column {
  flex-basis: calc(14.28% - 10px);
  box-sizing: border-box;
  margin-right: 10px;
}

.day-header {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.day-content {
  border: 1px solid #e5e5e5;
  padding: 10px;
}

.event {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.event:hover {
  background-color: #f5f5f5;
}

.title {
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.day-footer {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}
*/

/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 70px;
  box-shadow: 0 2px 5px rgba(22, 22, 26, 0.18);
  /* border: #359339 1px solid; */
}

.logo {
  font-size: 35px;
  font-weight: bold;
  color: #359339;
  margin-left: 50px;
}

.logout {
  cursor: pointer;
  font-size: 25px;
  background-color: rgb(200, 2, 2);
  color: white;

  border-radius: 30%;
  padding: 10px; /* Optional: Adjust padding as needed */
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout:hover {
  opacity: 0.8;
}
/* table css */
table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 10px;
  margin-top: 5%;
  height: 300px;
}

table,
th,
td {
  border: 2px solid rgb(200, 200, 200);
}

th,
td {
  padding: 21px;
  text-align: center;
  border-radius: 10px;
}

.icon {
  font-size: 25px;
  color: #359339;
}
/* .card {
  background-color: #bfe8f0;
  border: 1px solid #9ed5e0;
  padding: 16px;
  margin-top: 20px; Adjust the margin as needed
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
} */
.card {
  background-color: #bfe8f0;
  border: 1px solid #9ed5e0;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: absolute;
  top: 43%;
  left: 268px;
  transform: translate(-50%, -50%);
  width: 10%;
  z-index: 1;
  /* margin-bottom: 5%; */
  height: 20%;
}
.card2 {
  background-color: #bfe8f0;
  border: 1px solid #9ed5e0;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: absolute;
  top: 499px;
  left: 663px;
  transform: translate(-50%, -50%);
  width: 12%;
  z-index: 1;

  height: 19%;
}
